<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ChatHub chatrooms</title>
    </head>
    <body>
        <div class='cr-container'>
            <h1 class='cr-tittle'>ChatHub</h1>
            <div class='cr-userBox'>
                <img src="{{user.avatar}}" class='cr-userAvatar' />
                <h3 class='username'> {{user.fullname}}} | <a href="#">Logout</a></h3>
            </div>
            <div class='cr-newroom'>
                <input type='text' class='' autocomplete="off" />
                <button>Create Room</button>
            </div>
            <div class="cr-roomlist">
                <ul class="roomlist">

                </ul>
            </div>
        </div>
    </body>
</html>